<div class="content">
    <div class="bg">
        <!-- 倒计时 -->
        <div class="interval">
            <p id="pgv">还剩{{time}}S</p>
            <div class="progress">
                <progress max="30" value="30"></progress>
            </div>
        </div>
        <div class="game">
            <div class="first">
                <img src="./imgs/10.png" alt="" width="100%">
            </div>
            <div class="second">
                <img src="./imgs/11.png" alt="" width="100%">
            </div>
        </div>
    </div>
</div>