<div class="info">
    <div class="bg">
        <div class="userInfo">
            <input type="text" ng-model="user.name" placeholder="请填写姓名：">
            <input type="text" ng-model="user.age" placeholder="请填写年龄：">
            <input type="text" ng-model="user.age" placeholder="请填写地址：">
            <input type="text" ng-model="user.age" placeholder="请填写公司名称：">
            <input type="text" ng-model="user.age" placeholder="请填写手机号码：">
            <input type="text" ng-model="user.age" placeholder="请填写说明：">
        </div>
        <div class="submit">
            <img src="./imgs/btn_true.png" alt=" " width="100% ">
        </div>
        <div class="start " ui-sref="index">
            <img src="./imgs/btn_back.png" alt=" " width="100% ">
        </div>
    </div>
</div>