<div class="businessinfo">
    <!-- 中山 -->
    <div class="businessinfo1" ng-show="businessId==1">
        <div class="top">
            <img src="./imgs/businessinfo/btn.png" alt="" height="60%" ng-click="goShopList(1)">
        </div>
        <div class="pic">
            <img src="./imgs/businessinfo/pic0.png" alt="" width="100%">
        </div>
        <div class="title">
            <img src="./imgs/businessinfo/word0.png" alt="" height="100%">
        </div>
        <div class="word">
            <p>中山公园原称兆丰花园（Jessfield Park）也称极司非而花园，原是英国兆丰洋行大班、地产商霍格（H.Fogg）在上海西郊的私家花园，由极司非尔路通往静安寺。霍格将花园北半部靠近苏州河的部分卖给了美国圣公会，圣公会在那里创办了圣约翰书院，以后发展成圣约翰大学，也就是今天毗邻中山公园的华东政法大学。</p>

            <p>1914年上海公共租界工部局将花园南半部改建为租界公园，定名为兆丰公园，实质却属于越界筑路。公园当时占地320亩，大门位于白利南路和愚园路路口。1943年日本占领军将租借交还汪精卫政权，兆丰公园于是改名中山公园并沿用至今。</p>

            <p>中山公园内部现代与古典并存，可动可静，草坪、池塘、参天大树和大理石厅让爱热闹或幽静的人各取所需。</p>

            <p>中山公园占地面积约20万平方米，全园可分为大小不等的景点约120余处。这些景点因景而异，各具特色，其中十二处景点评选为“中山公园十二景观”，都是公园内特色突出并具有代表性的园林景观。</p>

            <p>上海中山公园位于上海长宁区市中心。总面积21.42万平方米，占地总面积21.42万平方米，其中绿化面积11.86万平方米，水面面积1.22万平方米，草坪面积3.69万平方米。树木260个品种，3万多株。上海轨道交通二号线、三号线与四号线在此设有站点。园内以优美的古典景观著称，周边则已成为繁华的商业圈，有米兰广场、苏宁购物中心、玫瑰坊商业街、龙之梦购物广场、多媒体广场等。</p>

            <h1>龙之梦购物中心：长宁路1018号</h1>
            <p>
                龙之梦购物中心可以说是超大型的一站式购物中心，提供给消费者可逛的楼层就包括楼上9楼+楼下2楼，真是一天逛不够。
            </p>

            <p>
                1F以H&M、C&A等大型服装品牌门店和化妆品专柜为主；2F-8F分为以女装、男装、运动品牌、儿童品牌、餐饮名店分布。9F则是一个超大型的特卖会场地，不时举行品牌多样的特卖，另有一个电影院。
            </p>
            <h1>巴黎春天新宁店：长宁路823号</h1>
            <p>
                相信喜欢逛街的亲们对巴黎春天这个品牌连锁商场一点也不陌生。同样是综合型的商场，实现一站式购物。
            </p>
            <p>
                地下楼层也是经常会举办特卖或折扣活动，商场的折扣活动则和其他巴黎春天门店同步。
            </p>


            <h1>玫瑰坊商业街：长宁路890号</h1>
            <p>
                玫瑰坊商业街就位于中山公园和龙之梦购物中心之间。不同于综合性商场，玫瑰坊以个性小店、时尚品牌分店，以及运动品牌折扣店为主。
            </p>
            <p>
                在B1F中庭有时也会举行品牌特卖活动。虽然场地比较小，但一般折扣还是很吸引人的。
            </p>
            <p>
                玫瑰坊的各大运动品牌的折扣店也是不得不逛的，在市中心就能买到工厂店的优惠价格。
            </p>

            <h1>多媒体生活广场：长宁路999号</h1>
            <p>
                多媒体广场紧邻巴黎春天新宁店，也是比较综合性的商场。和别的商场不同的是，还提供会展、多媒体体验等其他服务。
            </p>
            <p>
                sport100多媒体广场店的中庭长期举办各类特卖活动。品牌从男女装、男女鞋、童装到运动品牌，多种多样，一般折扣力度也很大。
            </p>
            <p>
                除了大商场之外，中山公园商圈的一大特点就是数码类商场聚集。
            </p>

            <h1>百思买中山公园店：愚园路1398号</h1>
            <p>
                百思买是全球最大的家用电器和电子产品的零售和分销及服务集团，中山公园店从巴黎春天过去步行不过五分钟的距离。逛完商圈还可以去逛逛最新的IT产品，非常方便。
            </p>

            <h1>苏宁电器中山公园店：长宁路999号</h1>
            <p>
                苏宁电器的中山公园店就位于前文提到的多媒体广场内。
            </p>
            <p>
                中山公园商圈还齐聚了国美电器中山公园店、永乐电器中山公园店等数码城，让你货比三家不吃亏。
            </p>


        </div>
    </div>

    <!-- 新虹桥 -->
    <div class="businessinfo2" ng-show="businessId==2">
        <div class="top">
            <img src="./imgs/businessinfo/btn.png" alt="" height="60%" ng-click="goShopList(2)">
        </div>
        <div class="pic">
            <img src="./imgs/businessinfo/pic1.jpg" alt="" width="100%">
        </div>
        <div class="title">
            <img src="./imgs/businessinfo/word1.jpg" alt="" height="100%">
        </div>
        <div class="word">
            <p>新虹桥商业中心将构建“两纵”（娄山关路、遵义路）“两横”（天山路、仙霞路），南北梯度、错位发展的商业空间布局，共分遵义路商业板块、天山路商业板块、娄山关路商业板块、古北国际商业板块四大商业板块。</p>

            <h1>遵义路商业板块</h1>
            <p>依托尚嘉中心、虹桥友谊商城和虹桥城等，打造集聚一流高端商业，凸显欧美时尚特色的新虹桥商业中心核心区。</p>

            <h1>尚嘉中心</h1>
            <p>
                上海尚嘉中心，融合建筑艺术及国际时尚品味，属国际著名建筑师青木淳倾力之作。坐落大虹桥核心商业区的尚嘉中心，汇聚世界一线品牌、潮流服装、特色餐饮及高档超市，缤纷琳琅。时尚体验与生活享受在此交融，品位人生由此完美实现。
            </p>
            <p class="english">
                L’Avenue Shanghai, a masterpiece of the world renowned architect Jun Aoki, incorporates both architectural art and international lifestyle. Situated at the CBD of the Greater Hongqiao Area, L’Avenue Shanghai represents a splendid collection of international
                luxury and diffusion brands, fine dining and supermarket to mold high quality lifestyle and shopping experience.
            </p>
            <h1>虹桥友谊商城</h1>
            <p>
                是一家沪港合资的大型商业零售企业，主要以高收入群体和外籍人士为服务对象，虹桥友谊商城坐落在上海市第一个涉外的经济技术开发区——虹桥开发区内。独特的地理和区域文化以及特有的顾客群形成了自己鲜明的特色。
            </p>

            <h1> 虹桥城</h1>
            <p>
                虹桥上海城是集商业、办公、金融、娱乐、文化于一体的国际级综合商办中心。位于虹桥开发区内，交通便利，紧邻延安路高架，近地铁二号线娄山关路站。虹桥上海城有两座36层办公楼，采用了不同的外观设计，又互相映衬，虹桥购物中心镶嵌其间，将两幢写字楼有机的联系了起来，形成一个共同体，成为了遵义路上一幢标志性建筑。大楼整体空间设计比较合理，内部设施较齐全，办公环境宽阔明亮。
            </p>

            <h1>万都中心</h1>
            <p>
                万都中心(万都商城)是一座位于上海虹桥开发区中心腹地的最高建筑物，一座达到国际甲级水平的智慧型综合办公大楼。万都中心占地12,761平方米，三面临街，总建筑面积约132,800平方米。由名师设计，分别提供共四组每层由1,600至2,000平方米不同面积，合共90,000平方米的办公室空间，另有附属商场四层，面积约20,000平方米，及地下停车场两层。全幢楼高55层，是虹桥最高的建筑物，宏伟雄奇，巍峨耸立虹桥开发区中心，别具气派。
            </p>

            <h1>天山路商业板块</h1>
            <p>

                依托天山百盛、汇金百货虹桥店和虹桥天都、泓鑫时尚广场等，并将结合在建的上海虹桥文化艺术中心，定位中、高端相融，汇集购物、文化、娱乐等功能

            </p>
            <h1>天山百盛</h1>
            <p>
                百盛于1994年进驻中国零售业市场（“百盛”），是最早在中国经营时尚百货外资连锁企业之一，并且目前已经发展成为中国最大的时尚百货集团之一，拥有覆盖中国37个主要城市的最广泛的营销网络。对中国日益富足的中高档消费群体而言，百盛已成为家喻户晓并标志着品味和时尚的知名品牌。百盛与许多国内、国际知名品牌建立了长期而稳定的合作伙伴关系，使百盛能够不断的在商品和品牌组合等方面得以完善，并通过引入质量好、价值含量高的品牌或创新产品系列提高商品的吸引力，从而加强并巩固百盛的领先地位。

            </p>

            <h1>汇金百货虹桥店</h1>
            <p>
                汇金百货虹桥店开业于2008年12月28日，秉承了汇金百货的经营理念，倡导时尚生活观念，以时尚、舒适的购物环境，构筑独特的建筑风格与内涵，力争成为虹桥地区时尚新地标。虹桥店共有8个经营层和1个停车层，经营面积达4万平方米，内有近百个停车位。虹桥店充分利用商场空间，先后开设了江边城外巫山烤全鱼、70后饭吧、东影美发厅、汇佳桌游咖啡馆、万裕国际影城等休闲娱乐场所，可满足消费者一站式购物、休闲、娱乐的完美体验。

            </p>

            <h1>虹桥天都</h1>
            <p>
                “虹桥天都”正处于娄山关路、遵义路绵延数百米之间，汇聚了服饰、餐饮、休闲、娱乐、购物等近百位精品商家。并以服务多功能、经营多业态引领现代商业的新潮流。以全新的人文文化管理和经营理念，以品牌立店、突出中高档、兼顾工薪消费的经营定位，塑造独具特色的商业文化，形成购物中心、美食餐饮中心、休闲娱乐中心，满足消费者“一站式”现代消费需求。
            </p>

            <h1>泓鑫时尚广场</h1>
            <p>
                泓鑫时尚广场集百货、餐饮、娱乐为一体的综合性商业楼盘，地处古北商圈和新世纪示范居住区的核心交汇处，项目地下二层与地铁二号线娄山关路四号出口直接相连，为物业租售最为活跃的地带，地铁商业黄金线的连接使泓鑫时尚广场成为人流的聚集地，财富的聚集地。项目沿天山路一字排开，共分地上六层、地下三层，业态定位购物、娱乐、美食、会所等，并规划将地下二层同地铁古北路站出入口直接相连。
            </p>

            <h1>娄山关路商业板块</h1>
            <p>
                依托金虹桥国际中心和吉盛伟邦虹桥国际家居中心等，体现潮流时尚和休闲生活。
            </p>

            <h1>金虹桥国际中心</h1>
            <p>
                建设中的上海金虹桥国际中心该项目位于茅台路以南，娄山关路以西，规划中紫云西路以北，占地面积3.55万平方米，总建筑面积26万平方米。其中地上建筑面积14万平方米，地下建筑面积12万平方米。建成后可提供商务办公11万平方米，商业设施7万平方米，配套设施8万平方米。金虹桥国际中心定位于集办公、酒店、商业一体的国际甲级地标性物业。是新虹桥商业中心的地标型建筑之一。
            </p>


            <h1>吉盛伟邦虹桥国际家居中心</h1>
            <p>
                吉盛伟邦虹桥进口奢品家俬馆。33000平方米之上，史无前例集结近197个全球一线进口家居品牌，成为进口顶级家居品牌新地标。从米兰到巴黎，从伦敦到纽约，吉盛伟邦虹桥进口家俬馆，成就您的极致家居梦想。
            </p>

        </div>
    </div>

</div>