<ul class="collect">
    <li>
        <img src="./imgs/my/collect1.png" alt="" width="100%">
        <div class="cancel" ng-click="openCancelBox()">
            <img src="./imgs/my/collect5.png" alt="" width="100%">
        </div>
    </li>
    <li>
        <img src="./imgs/my/collect1.png" alt="" width="100%">
        <div class="cancel" ng-click="openCancelBox()">
            <img src="./imgs/my/collect5.png" alt="" width="100%">
        </div>
    </li>
    <li>
        <img src="./imgs/my/collect1.png" alt="" width="100%">
        <div class="cancel" ng-click="openCancelBox()">
            <img src="./imgs/my/collect5.png" alt="" width="100%">
        </div>
    </li>
    <div class="cancelbox" ng-show="cancelBoxIsShow">
        <div class="canceltitle">
            <img src="./imgs/my/collect4.png" alt="" width="100%">
            <div class="cancelBtn" ng-click="closeCancelBox()">
                <img src="./imgs/my/collect2.png" alt="" width="100%">
            </div>
            <div class="confirmBtn" ng-click="closeCancelBox()">
                <img src="./imgs/my/collect3.png" alt="" width="100%">
            </div>
        </div>
    </div>
</ul>