<div id="newsinfo">
    <img src="./imgs/my/newsinfo1.png" width="100%" alt="">
    <div class="videoname" ng-click="goActiveInfo(4)">
        <img src="./imgs/my/newsinfo2.png" width="100%" alt="">
    </div>
    <div class="menuright1" ng-click="openMenu1()">
        <img src="./imgs/my/newsinfo4.png" width="100%" alt="">
    </div>
    <div class="menuright2" ng-click="openMenu2()">
        <img src="./imgs/my/newsinfo4.png" width="100%" alt="">
    </div>

    <div class="menuinfo1" ng-show="menuinfo1">
        <img src="./imgs/my/newsinfo3.png" width="100%" alt="" ng-click="closeMenu1()">
    </div>

    <div class="menuinfo2" ng-show="menuinfo2">
        <img src="./imgs/my/newsinfo3.png" width="100%" alt="" ng-click="closeMenu2()">
    </div>
</div>