<div class="activelist">
    <div class="choiceTop">
        <form>
            <label>
              <i><img src="./imgs/shoplist/fdj.png" height="100%;">&nbsp;</i>
              <input type="search" placeholder="&nbsp;&nbsp;点击搜索" ng-model="keyword" id="keyword">
            </label>
        </form>
    </div>
    <div class="bg"></div>
    <div class="title">
        <ul>
            <li>热门</li>
            <li ng-click="openType()" class="altype">类型<span><img src="./imgs/activelist/down.png" alt="" width="100%"></span></li>
            <li>时间<span><img src="./imgs/activelist/down.png" alt="" width="100%"></span></li>
        </ul>
    </div>
    <!-- 类型 -->
    <div class="btnlx">
        <img src="./imgs/activelist/btnlx.png" alt="" width="100%">
    </div>
    <div id="test1"></div>


    <!-- 内容 -->
    <div class="alcontent ">
        <img ng-click="goActiveInfo(5)" src="./imgs/activelist/activelist1.png" alt="" width="100%">
        <img ng-click="goActiveInfo(5)" src="./imgs/activelist/activelist1.png" alt="" width="100%">
        <img ng-click="goActiveInfo(5)" src="./imgs/activelist/activelist1.png" alt="" width="100%">
        <img ng-click="goActiveInfo(5)" src="./imgs/activelist/activelist1.png" alt="" width="100%">
        <img ng-click="goActiveInfo(5)" src="./imgs/activelist/activelist1.png" alt="" width="100%">
        <img src="./imgs/activelist.png" alt="" width="100%">
        <img src="./imgs/activelist.png" alt="" width="100%">
        <img src="./imgs/activelist.png" alt="" width="100%">
        <img src="./imgs/activelist.png" alt="" width="100%">
    </div>
</div>