<div class="shoplist nine">
    <!--<div class="choiceTop">
        <div class="busi" ng-click='goBusiness()'>
            <img src="./imgs/shoplist/busi.png" height="100%">
        </div>
        <form>
            <label>
            <i><img src="./imgs/shoplist/fdj.png" height="100%;">&nbsp;</i>
            <input type="search" placeholder="&nbsp;&nbsp;点击搜索" ng-model="keyword" id="keyword">
          </label>
        </form>

    </div>-->
    <ul class="juzhen" style="padding-top: 1vw;">
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4NDAyMDQwMQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/1.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4NjEyODQ1MQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/2.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIwOTgwNjk2OA==&scene=124#wechat_redirect">
                <img src="./imgs/nine/3.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNzUwNzk3Nw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/4.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MzM2OTk1OA==&scene=124#wechat_redirect">
                <img src="./imgs/nine/5.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4MjM0NDU2NQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/6.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5NjM0OTAyMw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/7.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAxNTk3ODEyMw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/8.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyMzkzNTU4Nw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/9.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAxNzE3OTUzMw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/10.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5ODA2NzgyNQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/11.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2MzE4MzU1NA==&scene=124#wechat_redirect">
                <img src="./imgs/nine/12.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NDE4MDQ1MA==&scene=124#wechat_redirect">
                <img src="./imgs/nine/13.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI0MTIzNzY2MQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/14.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NDQ3OTkxMQ==&scene=124#wechat_redirect">
                <img src="./imgs/nine/15.png" alt="" width="100%">
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4ODc4NDU4Mw==&scene=124#wechat_redirect">
                <img src="./imgs/nine/16.png" alt="" width="100%">
            </a>
        </li>
    </ul>
</div>