<div class="newrecommend">
    <!-- 轮播 -->
    <div class="title">
        <img src="./imgs/new/banner.png" alt="" width="100%">
    </div>
    <div class="content">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/7.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/8.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/9.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/8.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/7.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/8.png" alt="" width="100%">
        <img ng-click="goActiveInfo(3)" src="./imgs/new/9.png" alt="" width="100%">

    </div>
</div>