<div class="hotbusiness">
    <div class="nav1">
        <img src="./imgs/hotbusiness/banner1.png" alt="" width="100%" ng-click="goInfo(1)">
        <ul>
            <li>
                <img src="./imgs/hotbusiness/nav1_1.png" alt="" width="100%" ng-click="goShopInfo(1)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav1_2.png" alt="" width="100%" ng-click="goShopInfo(1)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav1_3.png" alt="" width="100%" ng-click="goShopInfo(1)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav1_4.png" alt="" width="100%" ng-click="goInfo(1)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav1_5.png" alt="" width="100%" ng-click="goInfo(1)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav1_6.png" alt="" width="100%" ng-click="goShopList(1)">
            </li>
        </ul>
    </div>

    <div class="nav2">
        <img src="./imgs/hotbusiness/banner2.png" alt="" width="100%" ng-click="goInfo(2)">
        <ul>
            <li>
                <img src="./imgs/hotbusiness/nav2_1.png" alt="" width="100%" ng-click="goShopInfo(2)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav2_2.png" alt="" width="100%" ng-click="goShopInfo(2)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav2_3.png" alt="" width="100%" ng-click="goShopInfo(2)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav2_4.png" alt="" width="100%" ng-click="goInfo(2)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav2_5.png" alt="" width="100%" ng-click="goInfo(2)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav2_6.png" alt="" width="100%" ng-click="goShopList(2)">
            </li>
        </ul>
    </div>
    <div class="nav2">
        <img src="./imgs/hotbusiness/banner3.png" alt="" width="100%" ng-click="goInfo(3)">
        <ul>
            <li>
                <img src="./imgs/hotbusiness/nav3_1.png" alt="" width="100%" ng-click="goInfo(3)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav3_2.png" alt="" width="100%" ng-click="goInfo(3)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav3_3.png" alt="" width="100%" ng-click="goInfo(3)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav3_4.png" alt="" width="100%" ng-click="goInfo(3)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav3_5.png" alt="" width="100%" ng-click="goInfo(3)">
            </li>
            <li>
                <img src="./imgs/hotbusiness/nav3_6.png" alt="" width="100%" ng-click="goShopList(3)">
            </li>
        </ul>
    </div>
</div>