<div class="my">
    <div class="m_first">
        <img src="./imgs/my/indexlogo.png" alt="" width="100%">
        <div class="report" ng-click="openSignBox()">
            <img src="./imgs/my/indexsign.png" alt="" width="100%">
        </div>
    </div>

    <div class="m_second">
        <img src="./imgs/my/index1_1.png" alt="" width="100%" ng-click="redeem()">
        <img src="./imgs/my/index1_2.png" alt="" width="100%" ng-click="collect()">
        <img src="./imgs/my/index1_3.png" alt="" width="100%" ng-click="goSign()">
    </div>

    <div class="m_third">
        <img src="./imgs/my/index2_1.png" alt="" width="100%" ng-click="setting()">
        <img src="./imgs/my/index2_2.png" alt="" width="100%" ng-click="bindphone()">
    </div>

    <div class="signBox" ng-show="SignBoxIsShow">
        <div class="signBoxWord">
            <img src="./imgs/my/index3.png" alt="" width="100%">
            <div class="signBoxBtn" ng-click="colseSignBox()">
                <img src="./imgs/my/index4.png" alt="" width="100%">
            </div>
        </div>
    </div>

</div>